@page
@model FestivalTicketsApp.IdentityServer.Pages.ExternalLogin.Callback

@{
    Model.ViewModel.ShowRoleSelect = false;
    Model.ViewModel.PageHandler = "/ExternalLogin/Callback";
}

<div class="register-page mx-auto">
    <div class="lead mb-4">
        <h1>Register</h1>
    </div>
    
    <div class="row">
        <div class="col">
                <partial name="_ValidationSummary"/>
            <div class="card">
                <div class="card-header">
                    <h2>Input your credentials</h2>
                </div>

                <div class="card-body">
                    <partial name="RegistrationForm" model="@Model.ViewModel"/>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/js/phone_mask.js"></script>
}